---
import Latihan from "../../layouts/Latihan.astro";
---

<Latihan title="Background & Border">
    <section class="flex">
        <div class="w-24 h-24 justify-center bg-sky-300 m-1 flex items-center border-slate-700 border-t-2">
            <p class="text-white ">Top</p>
        </div>
        <div class="w-24 h-24 justify-center bg-red-300 m-1 flex items-center border-slate-700 border-b-2">
            <p class="text-white">Bottom</p>
        </div>
        <div class="w-24 h-24 justify-center bg-green-300 m-1 flex items-center border-slate-700 border-r-2">
            <p class="text-white ">Right</p>
        </div>
        <div class="w-24 h-24 justify-center bg-purple-300 m-1 flex items-center border-slate-700 border-l-2">
            <p class="text-white">Left</p>
        </div>
        <div class="w-24 h-24 justify-center bg-yellow-300 m-1 flex items-center border-slate-700 border-y-2">
            <p class="text-white ">Y</p>
        </div>
        <div class="w-24 h-24 justify-center bg-slate-300 m-1 flex items-center border-slate-700 border-x-2">
            <p class="text-white">X</p>
        </div>
    </section>
    <section class="flex justify-center my-8">
        <div class="w-28 h-12 bg-blue-300 rounded-4xl hover:bg-blue-400 flex items-center justify-center border-blue-500 border"><p class="text-white">Gutten Tag!</p></div>
    </section>
</Latihan>