---
import Latihan from "../../layouts/Latihan.astro";
---

<Latihan title="Typography">
    <p class="font-mono">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, assumenda.</p>
    <p class="antialiased text-4xl">Font smoothing</p>
    <p class="italic">Italic</p>
    <p class="font-bold">Bold</p>
    <p class="font-thin">Thin</p>
    <p class="line-clamp-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ad voluptas corrupti fugit, doloremque itaque atque illum tenetur, officiis accusamus est? Voluptas, sapiente, repellat cumque mollitia accusamus ut aliquid sunt possimus voluptatum error quidem. Maiores, pariatur ex nisi laborum libero dicta aliquam non esse, recusandae expedita sequi unde beatae fugit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatum a nemo quae voluptatibus dolor earum placeat laboriosam. Doloribus ullam iusto rem cumque, dicta cum consequatur placeat sequi omnis adipisci saepe eveniet aliquam sapiente iste assumenda obcaecati quod perferendis, odit consequuntur maxime a dolor culpa! Quis dolorem excepturi aperiam nemo ut laborum iusto rem velit placeat dicta molestiae perspiciatis cumque totam ipsa, blanditiis suscipit asperiores? Eligendi architecto totam obcaecati ipsa dolores, ipsam possimus repellendus fugiat libero placeat sed aliquam, iste optio ratione. Necessitatibus laborum tempore obcaecati magni deleniti maxime ad id minus ex. Exercitationem adipisci magni ex tenetur illum aliquid!</p>
    <ul class="ml-24 my-8 list-image-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=')]">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <p class="line-through decoration-red-500 text-2xl">The quick brown fox jumps over the lazy dog.</p>
    <p class="uppercase">uppercase</p>
    <p><span class="align-top">top</span><span class="align-middle">mid</span></p>
    <p>Lorem ipsum dolor sit amet. <a class="text-blue-600 after:content-['_↗']" href="...">Pro Display XDR</a></p>
</Latihan>  